body{
    background-image: url('src/tron.jpg');
    font-family: "Orbitron", sans-serif;
    
}

canvas {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    text-align: center; 
    text-transform: uppercase;
    padding: 10px 0;
    color: fuchsia; 
    text-shadow: 2px 2px 4px rgba(0, 255, 128, 0.5);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: transparent;
    color: fuchsia; /* Color rosa neón */
    border: 2px solid #00ff80;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, transparent, rgba(0, 255, 128, 0.2), transparent);
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

button:hover {
    color: #fff; 
    border-color: #fff;
}

button:hover::before {
    opacity: 1;
}


div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.neon-text {
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
    position: relative;
    animation: neon 1.5s ease-in-out infinite alternate;
}

/* Animación de neón */
@keyframes neon {
    0% {
        text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc, 0 0 15px #00ffcc;
        opacity: 0.8;
    }
    100% {
        text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
        opacity: 1;
    }
}
